

@mixin magicTree ($justfy,$pad,$gap){
    
    display: flex;
    flex-wrap: wrap;
    justify-content: $justfy;
    align-items: center;
    text-align: center;
    padding: $pad;
    margin: auto;
    gap: $gap;

}

@mixin NbaLogo (){
    background-image: url(../assets/nba-logo.png);
    background-position: center;
    background-size:auto;
    background-repeat: repeat;
    
}