

@mixin magicTree ($justfy){
    
    display: flex;
    flex-wrap: wrap;
    justify-content: $justfy;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: auto;
    gap: 1rem;

}