@import "../sass/mixins";

.headerContainer{
    border: 2px solid red;
    
@include magicTree(center,2rem,1rem);
flex-direction: column;
margin-bottom: 3rem;

.nbaHeadline{
    font-size: 3rem;
}



}

.playerInput{
    width: 650px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.3rem;
}